.formWrapper {
  position: relative;
}

.cityInput {
  height: 2rem;
  width: 90vw;
  max-width: 500px;
  outline: none;
  border: solid 2px rgba(255, 239, 149, 0.6);
  background-color: rgba(255, 221, 98, 0.2);
  color: var(--text);
  border-radius: 2rem;
  padding: 2rem;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.cityInput::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.cityInput:disabled {
  padding: 1.5rem;
  background-color: transparent;
  border: solid 2px transparent;
}

.cityInput.errorInput {
  border: solid 2px var(--error);
  background-color: rgba(var(--error-rgb), 0.2);
}

.backButton {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border-radius: 40px;
  z-index: 1;
}

.errorMessage {
  color: var(--error);
  margin-top: 1rem;
  padding-inline: 1rem;
}

.dropdown {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  margin-top: 2rem;
  padding: 1.5rem 0;
  overflow-y: hidden;
}

.dropdown ul {
  list-style-type: none;
}

.dropdown li {
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
