.currentWeatherCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.topSection {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.iconTempGroup {
  display: flex;
  align-items: center;
}

.tempGroup {
  display: flex;
  gap: 0.3rem;
  align-items: baseline;
}

.temp {
  font-size: 44px;
  font-weight: 600;
}

.descriptionGroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: right;
  padding-right: 0.8rem;
}

.detailsGroup {
  display: flex;
  gap: 0.8rem;
  justify-content: space-around;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.detailItem {
  display: flex;
  gap: 0.5rem;
}
