.mapContainer {
  height: 300px;
  width: 100%;
  background-color: aqua;
  border-radius: 20px;
  opacity: 0.8;
  box-shadow: var(--shadow);
}

.colorScaleContainer {
  padding: 10px 15px;
}

.colorGradient {
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    #135a9d,
    #43e5f7,
    #3fda59,
    #e3bf3b,
    #d23a3a
  );
  border-radius: 5px;
  margin: 5px 0;
}

.colorScaleLegend {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
